@import '../../../styles/index.scss';

.herobanner {
    background-color: var(--theme-bg-color);
    // margin-top: -5px;

    .herobanner-image {
        width: 100%;
        padding: 20px 0;

        img {
            display: block;
            height: 665px;
            width: 100%;
            border-radius: 10px;

            @media (max-width: 576px) {
                width: 100%;
                height: auto;
            }

        }

    }

    .herobanner-slider {
        padding: 20px 0;
        overflow: hidden;

        .herobanner-slider-image {
            width: 100%;

            img {
                width: 100%;
                margin: 0 auto;
                height: 300px;
                border-radius: 10px;

                @media (max-width: 576px) {
                    height: 150px;
                }
            }
        }
    }
}


.slick-slide{
    padding: 0 20px;
}

.slick-list{
    margin: 0 -20px;
}

