@import '../../../styles/index.scss';

.herobanner {
    background-color: var(--theme-bg-color);

    .herobanner-image {
        width: 100%;
        padding: 40px 0;

        img {
            display: block;
            height: 665px;
            width: 100%;
            border-radius: 10px;

            @media (max-width: 576px) {
                width: 100%;
                height: auto;
            }

        }

    }
}


.slick-slide{
    padding: 0 20px;
}

.slick-list{
    margin: 0 -20px;
}

