@import '../../../styles/index.scss';

.serviceslider {
    background-color: var(--theme-white-text);
    padding: 40px 0;

    .serviceslider-align {
        background-color: var(--theme-bg-color);
        padding: 20px 10px 30px 10px;

        .serviceslider-heading {

            h2 {
                margin: 0 0 20px 0;
                @include font22;
                font-weight: 700;
            }
        }

        .serviceslider-card {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;

            @media (max-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 890px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 576px) {
                grid-template-columns: repeat(1, 1fr);
                gap: 40px;
            }

            .serviceslider-card-align {
                padding: 0 15px;

                @media (max-width: 576px) {
                    padding: 0;
                    display: grid;
                    grid-template-columns: 48px 1fr;
                    align-items: center;
                    gap: 20px;
                }

                .serviceslider-card-flex {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }

                .serviceslider-card-img {
                    align-items: center;
                    background: var(--theme-white-text);
                    border-radius: 50%;
                    display: inline-flex;
                    height: 64px;
                    justify-content: center;
                    margin-bottom: 16px;
                    text-align: center;
                    width: 64px;

                    @media (max-width: 992px) {
                        height: 48px;
                        width: 48px;
                    }

                    img {
                        height: auto;
                        max-width: 100%;

                        @media (max-width: 992px) {
                            height: 30px;
                        }
                    }
                }

                h6 {
                    margin: 0 0 16px;
                    @include font16;
                    font-weight: 600;

                    @media (max-width: 992px) {
                        @include font15;
                        font-weight: 600;
                    }

                    @media (max-width: 576px) {
                        margin: 0 0 5px;
                    }
                }

                p {
                    color: var(--theme-font-color);
                    @include font16;

                    @media (max-width: 992px) {
                        @include font15;
                    }
                }
            }

        }
    }
}